<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shijiu.calculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mortgage.MortgageActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".appellation.AppellationActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".area.AreaActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".calculator.CalculatorActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".capital.CapitalActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".length.LengthActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mortgage.CalculateResultActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mortgage.HelpActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mortgage.CalculateDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mortgage.CombinationResultActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mortgage.CombinationDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".calculator.NewCalculatorActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ppdai.PpDaiActivity"></activity>
    </application>

</manifest>