html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h3,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h3,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}
html{
    height:100%;
}
body{
    height: 100%;
    font-size: 14px;
    font-family: Arial,Helvetica,"Microsoft Yahei";
    background: #fdfdfd;
    color:#757575;
}

button, input {
    font-family: Arial,Helvetica,"Microsoft Yahei";
}
img{
    vertical-align: middle;
}
a{
    text-decoration: none;
    color: #757575;
}
.sexline span{
	font-size: 18px;
}
.relationship{
	text-align: center;
}
#select{
	width: 50%; background-color: #FFAA33; float: right;color: white;font-size: 30px;
	border: none;
}
.chaxun{
	width: 50%; background-color: #FFAA33; float: right;
}
.hucha{
	/*height: 61px;*/
	text-align: center;
	line-height:61px;
	font-family: '微软雅黑'; 
	font-size: 24px;
}
.hucha a{
	text-align: center;
	/*display: inline-block;*/
	/*margin: auto;*/
	/*font-family: '微软雅黑'; font-size: 24px;*/
}
.btn{
	border-bottom: 1px solid #FAFAFA;
	border-right: 1px solid #FAFAFA;
}
.input-button{
	/*border-bottom: 1px solid red;*/
	border-right: 1px solid #FAFAFA;
}
#default{
	border: none;
}
#lable2{
	border: none; background: none; width:50%; 
	height: 63px; float:left; border-radius: 0px;margin-right: 0px;
	text-align: center;
	line-height: 64px;
	position: absolute;
	bottom: 0;
	left: 0;
	font-family: '微软雅黑';
	font-size: 24px;
}
#height{
	height: 20px;
}
#reslut{
	font-size:24px; border: none;text-align: right;
}
a:hover{
    text-decoration: underline;
}
#postion{
	position: absolute;bottom: 0px;
}
#input{
	color: grey; border: none; font-size: 18px; text-align: right;
}
.chehui{
	width: 30px;
	height: 30px;
	position: absolute;
	left: 5px;
}
.full{
	
}
#title-underline{
	width: 100%;
	height: 3px;
	background-color:#FAFAFA;
}
.hd{
	padding-top: 10px;
	/*margin-bottom: 0;*/
}
#man{
	margin-left: 10px;
}
#lable1{
	margin: 0;
	/*padding-top: 13px;*/
}
.fanhui{
	width: 20px;
	height: 20px;
}
.qingkong{
	width: 20px;
	height: 20px;
}
.sexline{
	padding-bottom: 0;
	padding-top: 15px;
	background-color: #FFF2E3;
	height: 40px;
}
input[type="checkbox"]{
  display:none;
}
input[type="checkbox"]{
  display:none;
}input[type="checkbox"]{
  display:none;
}
label{
  box-shadow:#ccc 0px 0px 0px 1px;
  width:45px;
  height:24px;
  display:inline-block;
  border-radius:12px;
  position:relative;
  background-color:#bdbdbd;
  overflow:hidden;
  
}
.sexline label{
	/*position: absolute;*/
}
label:before{
  content:'';
  position:absolute;
  left:0px;
  width:22px;
  height:24px;
  display:inline-block;
  border-radius:12px;
  background-color:#fff;
  z-index:20;
  -webkit-transition:all 0.5s;
  transition:all 0.5s;
}
 
input:checked + label:before{
  left:25px;   
}
input:checked + label{
  background-color:#FFAA33;
}
.group{
	display: block;
}
#change{
	width: 100%;
	/*line-height: 100px;*/
	
}
#change label{
	/*width: 50%;*/
	/*float: left;*/
}
#default{
	width: 50%;
	position: absolute;
	left: 0;
	height: 50px;
	
	
}
#foryou{
	margin: 0;
	padding: 0;
}
#chain{
	width: 50%;
	position: absolute;
	right: 0;
	height: 50px;
}


.mod-panel {
    width: 100%;
    max-width: 740px;
    margin: 0 auto 0px;
    _width: 740px;
}
.mod-panel .hd{
	padding-top: 10px;
	margin-bottom: 30px;
	line-height: 30px;
	text-align: center;
}
.mod-panel .hd h1{
	font-size: 24px;
	color:#212121;
}
.mod-panel .bd{
	max-width: 500px;
	margin:0 auto 0px;
}
.mod-panel .bd p{
	line-height: 40px;
	/*padding-bottom: 10px;*/
}
.mod-panel .input-text{
    width: 60px;
    height: 20px;
    margin-right:20px;
    border: 1px solid #ebebeb;
    padding: 4px 8px;
    line-height: 20px;
    outline: none;
}
.mod-panel .input-button {
    /*height: 30px;
    width: 80px;
    margin: 15px  10px 0 0;
    background: #4bae4f;
    border: medium none;
    line-height: 30px;
    vertical-align: middle;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    outline: none;*/
   width: 24%;
    height: 64px;
    cursor: pointer;
}
/*.mod-panel label,.mod-panel p span{
    margin-right:10px;
}*/
.mod-panel label{
    margin-right:10px;
}
.mod-panel .btn{
    width: 24%;
    height: 64px;
    cursor: pointer;
    
}
button{
	background: none;
	border: none;
	font-family: "微软雅黑";
	font-size: 22px;
	color:#333333;
	outline: none;
	cursor: hand;
}

.mod-panel textarea{
    display: block;
	width: 90%;
	/*height: 100px;*/
	padding:5px 10px;
	border: 1px solid #ebebeb;
	resize: none;
	outline: none;
}
.mod-panel .ft{
    padding-top: 20px;
    border-top:1px dotted #e0e0e0;
}
.mod-panel .about{
	padding: 0 20px;
    margin-bottom: 20px;
}
.mod-panel .about p{
	line-height: 24px;
	text-indent: 2em;
}
.mod-panel .copy{
    padding: 0 20px;
    margin-bottom: 20px;
    text-align: center;
}
.mod-panel .copy p{
    line-height: 24px;
}

.mod-qrcode{
    position: fixed;
    right: 25px;
    bottom: 25px;
    text-align: center;
}
.mod-qrcode .box{
    width: 150px;
    height: 148px;
    overflow: hidden;
}
.mod-qrcode p{
    line-height: 30px;
}